{% extends "base.html" %}

{% block content %}
    <h1>Get It Done!</h1>
    <form action='/' method='post'>
    
    <br>
            
        <label>New Task:
            <input type="text" name="task" />
            <br>
            <p>Type your description here:</p>
            <textarea name="desc" cols="30" rows="10"></textarea>
            <input type="submit" value="Add Task!" />
        </label>
    
    </form>
        
    <hr>

    {% if tasks|length == 0 %}
        <p>No tasks yet!</p>
    {% else %}
    <ul>
        {% for task in tasks: %}
            <li>
                <form method="POST" action="/complete-task">
                    <input type="hidden" name="task-id" value="{{task.id}}" />
                    <input type="submit" value="COMPLETE!" />
                    <b>{{ task.name }}:</b><p>{{ task.desc }}</p>
                </form>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <hr>

    <h2>Completed Tasks</h2>

    <ul>
    {% for task in completed_tasks: %}
        <li>
            <form method="POST" action="/delete-task">
                <input type="hidden" name="task-id" value="{{task.id}}" />
                <input type="submit" value="CLEAR!" />
                <b>{{ task.name }}:</b><p>{{ task.desc }}</p>
            </form>
        </li>
    {% endfor %}
    </ul>

<a href="/">Go home</a>
{% endblock %}